
.backg3{
	@include flexCenter(center);
	height: 40px;
	padding: 0px;
}
.nav3{
	width: 85%;
	display: flex;
	align-items: center;
	overflow: auto;
    white-space: nowrap;
    ul{
        width: 100%;
        padding: 0px;
        margin-bottom: 0px;
        overflow: auto;
        white-space: nowrap;
        li{
            list-style: none;
            padding: 0px 8px;
            font-size: 15px;
            display: inline-block;
            font-weight: bold;
            float: left;
            color: blue;
            cursor: pointer;
            &:first-child{
                border-bottom: 2px solid blue;
            }
        }
        
    }
}

@media only screen and (max-width: 768px) {
	.nav3{
		width: 97%;
        ul li{
            padding: 0px 4px;
            font-size: 11px;
        }
    }
}
