@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@import "var"; //Variables
@import "mixin"; //mixins
@import "collapsenav"; //Collapsed Navbar
@import "navbar1"; //header navbar
@import "navbar2"; //profile navbar
@import "navbar3"; //navbar 3
@import "maincon"; // contains Chart

*{
	margin: 0;
	padding:  0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body{
	position: $rel;
}

#Background{
	position: fixed;
	@include bound(100%,100vh);
	z-index: 1 ;
	top: 0;
	left: 0;
	display: none;
	background-color: rgba(0, 0, 0, 0.4);
}


